In [1]:
import pandas as pd

In [2]:
# Load your dataset
SM_data = pd.read_csv(r'C:\Users\omnia\Google Drive\Springboard\Capstone 2\train.csv')

In [3]:
# Identify affected rows (251-288 and 751-788)
affected_rows_1 = range(251, 289)
affected_rows_2 = range(751, 789)

In [4]:
# Inspect the affected rows
print(SM_data.loc[affected_rows_1, ['Gender', 'Age']])
print(SM_data.loc[affected_rows_2, ['Gender', 'Age']])

     Gender         Age
251      24      Female
252      29  Non-binary
253      33      Female
254      31        Male
255      22      Female
256      25        Male
257      29  Non-binary
258      28      Female
259      27        Male
260      30      Female
261      23        Male
262      34  Non-binary
263      26      Female
264      25        Male
265      29  Non-binary
266      28        Male
267      31      Female
268      27        Male
269      22  Non-binary
270      24      Female
271      35        Male
272      21  Non-binary
273      29      Female
274      25        Male
275      28  Non-binary
276      32      Female
277      26        Male
278      33  Non-binary
279      27      Female
280      31        Male
281      24  Non-binary
282      34      Female
283      22        Male
284      29  Non-binary
285      28      Female
286      31        Male
287      21  Non-binary
288  Female          25
    Gender         Age
751     27        Male
752     24      Female
753     29  Non-binary
754     33      Female
755     31        Male
756     22      Female
757     25        Male
758     29  Non-binary
759     28      Female
760     27        Male
761     30      Female
762     23        Male
763     34  Non-binary
764     26      Female
765     25        Male
766     29  Non-binary
767     28        Male
768     31      Female
769     27        Male
770     22  Non-binary
771     24      Female
772     35        Male
773     21  Non-binary
774     29      Female
775     25        Male
776     28  Non-binary
777     32      Female
778     26        Male
779     33  Non-binary
780     27      Female
781     31        Male
782     24  Non-binary
783     34      Female
784     22        Male
785     29  Non-binary
786     28      Female
787     31        Male
788     21  Non-binary

In [5]:
# Manually swap values for the affected rows
# This switches the 'Gender' and 'Age' columns for these rows
SM_data.loc[affected_rows_1, ['Gender', 'Age']] = SM_data.loc[affected_rows_1, ['Age', 'Gender']].values
SM_data.loc[affected_rows_2, ['Gender', 'Age']] = SM_data.loc[affected_rows_2, ['Age', 'Gender']].values

In [6]:
# Convert Gender to categorical and Age to numeric
SM_data['Gender'] = SM_data['Gender'].astype('category')
SM_data['Age'] = pd.to_numeric(SM_data['Age'], errors='coerce')

In [7]:
# Verify the corrections
print(SM_data.loc[affected_rows_1, ['Gender', 'Age']])
print(SM_data.loc[affected_rows_2, ['Gender', 'Age']])

         Gender   Age
251      Female  24.0
252  Non-binary  29.0
253      Female  33.0
254        Male  31.0
255      Female  22.0
256        Male  25.0
257  Non-binary  29.0
258      Female  28.0
259        Male  27.0
260      Female  30.0
261        Male  23.0
262  Non-binary  34.0
263      Female  26.0
264        Male  25.0
265  Non-binary  29.0
266        Male  28.0
267      Female  31.0
268        Male  27.0
269  Non-binary  22.0
270      Female  24.0
271        Male  35.0
272  Non-binary  21.0
273      Female  29.0
274        Male  25.0
275  Non-binary  28.0
276      Female  32.0
277        Male  26.0
278  Non-binary  33.0
279      Female  27.0
280        Male  31.0
281  Non-binary  24.0
282      Female  34.0
283        Male  22.0
284  Non-binary  29.0
285      Female  28.0
286        Male  31.0
287  Non-binary  21.0
288          25   NaN
         Gender   Age
751        Male  27.0
752      Female  24.0
753  Non-binary  29.0
754      Female  33.0
755        Male  31.0
756      Female  22.0
757        Male  25.0
758  Non-binary  29.0
759      Female  28.0
760        Male  27.0
761      Female  30.0
762        Male  23.0
763  Non-binary  34.0
764      Female  26.0
765        Male  25.0
766  Non-binary  29.0
767        Male  28.0
768      Female  31.0
769        Male  27.0
770  Non-binary  22.0
771      Female  24.0
772        Male  35.0
773  Non-binary  21.0
774      Female  29.0
775        Male  25.0
776  Non-binary  28.0
777      Female  32.0
778        Male  26.0
779  Non-binary  33.0
780      Female  27.0
781        Male  31.0
782  Non-binary  24.0
783      Female  34.0
784        Male  22.0
785  Non-binary  29.0
786      Female  28.0
787        Male  31.0
788  Non-binary  21.0